.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 70vh;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 0;
  color: whitesmoke;
}

.order {
  position: absolute;
  bottom: 3.7rem;
  left: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  /* margin-left: 1rem; */
  color: #479244;
}

.actions {
  text-align: right;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  /* padding: 0.5rem 2rem; */
  margin-left: 1rem;
  color: #479244;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 0px solid #479244;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  transition: 0.3s ease;
}

.actions button:hover,
.actions button:active {
  background-color: #479244;
  border-color: #479244;
  color: white;
}

.actions .button--alt {
  /* border-color: #479244; */
  color: #ca3e51;
}

.actions .button--alt:hover {
  color: #fff;
  background-color: #ca3e51;
}

.actions .button {
  background-color: #479244;
  color: white;
}
