.form {
  margin: 2rem 0;
  /* height: 19rem; */
  overflow: auto;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  /* font-weight: bold; */
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  /* border-radius: 4px; */
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 3rem;
}

.actions button {
  font: inherit;
  color: #ca3e51;
  /* border: 1px solid #479244 !important; */
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  transition: 0.3s ease;
}

.actions button:hover,
.actions button:active {
  background-color: #ca3e51;
  /* border: 1px solid # !important; */
  color: white;
}

.actions .submit {
  border: 1px solid #479244;
  background-color: #479244;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #479244;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
